   <%- include('partials/_privacy') %>

    <!-- Подвал  -->
    <footer class="footer">
        <div class="container footer__content">
            <p>© 2025 Lime Details. Все права защищены.</p>
            <a href="#" onclick="document.getElementById('privacyModal').style.display='flex'">Политика конфиденциальности</a>
        </div>
    </footer>