:root {
    --white: white;
    --black: #151b28;
    --primary: #054787;
    --dark-theme-primary: #0a85ed;
    --light-blue: #b9dcfe;
    --primary-950: #07254a;
    --primary-600: #0067cb;
    --primary-300: #7bc1fe;
    --primary-100: #dfedff;
    --dark-theme-primary-100: #252d3c;
    --primary-50: #f0f7ff;
    --text: #151b28;
    --dark-theme-text: white;
    --bg: white;
    --dark-theme-bg: #151b28;
    --btn: #151b28;
    --dark-theme-btn: #fafbfc;
    --gray800: #a5acba;
    --gray600: #2e3545;
    --dark-theme-gray600: #fafbfc;
    --gray500: #5f6d7e;
    --dark-theme-gray500: var(--gray800);
    --gray400: #dae0e6;
    --dark-theme-gray400: #2e3545;
    --gray300: #f8f9fb;
    --dark-theme-gray300: #1c2534;
    --gray200: #f6f7f8;
    --gray50: #fafbfc;
    --dark-theme-gray50: #252d3c;
    --bg-card: #eaebf0;
    --bg-gray: var(--gray300);
    --dark-theme-bg-gray: #151b28;
    --more-link: var(--gray400);
    --border: var(--gray400);
    --primary-hover: var(--primary-600);
    --dark-theme-primary-hover: var(--primary-300);
    --footer-text: var(--gray400);
    --breadcrumbs-icon: var(--gray800);
    --dark-theme-breadcrumbs-icon: #5f6d7e;
    --breadcrumbs-span: #6b7b8f;
    --error: #b4241a;
    --telegram: #1e90ff;
    --youtube: #ff0000;
    --whatsapp: #25d366;
    --box-shadow: 0 4px 8px 0 rgba(113, 128, 150, .08),0 0 1px 0 rgba(113, 128, 150, .04);
    --dark-theme-box-shadow: 0 4px 6px -1px rgba(16, 24, 40, .10),0 2px 4px -2px rgba(16, 24, 40, .10);
    --index: calc(1vw + 1vh);
    --regular: "ceraproregular";
    --medium: "cerapromedium";
    --cerabold: "ceraprobold";
    --bold: "evolventabold";
    --transition: .25s cubic-bezier(.2, .5, 0, 1);
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: var(--primary)
}
